images/agss09_events
images/agss09fluxes
images/both_10percentReco_3MeV_woBG_SNOlike.png
images/both_leptonReco_3MeV_wBG_SNOlike.png
images/both_leptonReco_3MeV_woBG_PDGlike_fast_llh.png
images/both_leptonReco_3MeV_woBG_PDGlike_llh.png
images/both_leptonReco_3MeV_woBG_PDGlike.png
images/both_leptonReco_3MeV_wSmallBG_SNOlike.png
images/CC_3MeV_w40cm+selectionBG_SNOlike.png
images/CC_3MeV_w40cmBG_SNOlike.png
images/CC_3MeV_wBG_SNOlike.png
images/CC_flux.png
images/CC_flux+xsec.png
images/CC_leptonReco_3MeV_w40cm+selectionBG_SNOlike_llh.png
images/CC_leptonReco_3MeV_wBG_SNOlike.png
images/CC_leptonReco_3MeV_wBG.png
images/CC_leptonReco_3MeV_woBG_SNOlike.png
images/CC_leptonReco_3MeV_woBG.png
images/corner_0MeV_short.png
images/corner_0MeV.png
images/corner_1MeV_short.png
images/corner_1MeV_single.png
images/corner_1MeV.png
images/corner_3MeV.png
images/corner_3MEVthreshold.png
images/corner_both_leptonReco_3MeV_RC.png
images/corner_both_leptonReco_3MeV_wBG_SNOlike.png
images/corner_both_leptonReco_3MeV_wBG.png
images/corner_both_leptonReco_3MeV_woBG.png
images/corner_both_leptonReco_3MeV_wSmallBG_SNOlike.png
images/corner_both_leptonReco_3MeV.png
images/corner_ES_only_5percentReco_3MeV_RC.png
images/corner_ES_only_5percentReco_3MeV.png
images/corner_ES_only_leptonEnergy_3MeV_RC.png
images/corner_ES_only_leptonEnergy_3MeV.png
images/corner.png
images/energyResolution.png
images/event_rate_vs_energy.png
images/fluxCC.png
images/gs98fluxes
images/incomingFluxes_1MeV.png
images/inputResponse.png
images/llh_both_5percent.png
images/llh_both_ES10percent_CCwBG_3MeV.png
images/llh_both_ES10percent_CCwoBG_3MeV.png
images/llh_both_leptonE_wCCBG_3MeV.png
images/llh_both_LeptonEgamma.png
images/llh_both_LeptonEgamma)_3MeV.png
images/llh_both_LeptonEgamma)_13MeV.png
images/llh_both_LeptonEgamma)_noThreshold.png
images/llh_CC_5percent_wBG_3MeV.png
images/llh_CC_leptonE_wBG_3MeV.png
images/llh_CC_leptonE_woBG_3MeV.png
images/llh_CConly_LeptonEgamma.png
images/llh_ES_10percent_3MeV.png
images/llh_ES_leptonE_3MeV.png
images/llh_ESonly_5percent.png
images/llh_ESonly_LeptonE.png
images/llh_ESonly_LeptonEgamma.png
images/llh_th12_dm21_shallowProblem.png
images/llh_th12_th13_shallowProblem.png
images/llhScan_5percentE
images/llhScan_leptonE.png
images/matrix_heatmap_CC.png
images/matrix_heatmap_ES_nue.png
images/matrix_heatmap_ES_nuother.png
images/matrix_heatmap.png
images/model_adjusted_oscProbs.png
images/mswNuperical.png
images/mswProbs.png
images/oscillatedFluxes_1MeV
images/PosteriorPredictive_CC_only_wBG.png
images/prodRegion.png
images/recoMatrix.png
images/test.png
images/xsec_vs_energy.png
outputs/both_10percentReco_3MeV_woBG_SNOlike.jld2
outputs/both_leptonReco_3MeV_RC.jld2
outputs/both_leptonReco_3MeV_wBG_SNOlike.jld2
outputs/both_leptonReco_3MeV_wBG.jld2
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_delt2m21.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_sin2th13.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th13_delt2m21.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_llh_sin2th12_delt2m21.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_llh_sin2th12_sin2th13.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_llh_sin2th13_delt2m21.csv
outputs/both_leptonReco_3MeV_woBG_PDGlike_mcmc.jld2
outputs/both_leptonReco_3MeV_wSmallBG_SNOlike.jld2
outputs/both_leptonReco_3MeV.jld2
outputs/CC_3MeV_w40cm+selectionBG_SNOlike.jld2
outputs/CC_3MeV_w40cmBG_SNOlike.jld2
outputs/CC_3MeV_wBG_SNOlike.jld2
outputs/CC_leptonReco_3MeV_w40cm+selectionBG_SNOlike_llh_sin2th12_delt2m21.csv
outputs/CC_leptonReco_3MeV_w40cm+selectionBG_SNOlike_llh_sin2th12_sin2th13.csv
outputs/CC_leptonReco_3MeV_w40cm+selectionBG_SNOlike_llh_sin2th13_delt2m21.csv
outputs/CC_leptonReco_3MeV_w40cm+selectionBG_SNOlike_mcmc.jld2
outputs/CC_leptonReco_3MeV_wBG.jld2
outputs/CC_leptonReco_3MeV_woBG.jld2
outputs/contribution_matrix_cc.jld
outputs/contribution_matrix_es.jld
outputs/ES_only_5percentReco_3MeV_RC.jld2
outputs/ES_only_5percentReco_3MeV.jld2
outputs/ES_only_leptonEnergy_3MeV_RC.jld2
outputs/ES_only_leptonEnergy_3MeV.jld2
outputs/llh_sin2th12_delt2m21_both_ES10percent_CCwBG.csv
outputs/llh_sin2th12_delt2m21_both_ES10percent_CCwoBG.csv
outputs/llh_sin2th12_delt2m21_bothLepton_wBG.csv
outputs/llh_sin2th12_delt2m21_bothLeptonE_wCCBG.csv
outputs/llh_sin2th12_delt2m21_CC5percent_wBG.csv
outputs/llh_sin2th12_delt2m21_CCLepton_wBG.csv
outputs/llh_sin2th12_delt2m21_CClepton.csv
outputs/llh_sin2th12_delt2m21_CCleptonE_wBG.csv
outputs/llh_sin2th12_delt2m21_CCleptonE_woBG.csv
outputs/llh_sin2th12_delt2m21_ES_10percent.csv
outputs/llh_sin2th12_delt2m21_ESlepton.csv
outputs/llh_sin2th12_delt2m21_ESleptonE.csv
outputs/llh_sin2th12_delt2m21.csv
outputs/llh_sin2th12_sin2th13_both_ES10percent_CCwBG.csv
outputs/llh_sin2th12_sin2th13_both_ES10percent_CCwoBG.csv
outputs/llh_sin2th12_sin2th13_bothLepton_wBG.csv
outputs/llh_sin2th12_sin2th13_bothLeptonE_wCCBG.csv
outputs/llh_sin2th12_sin2th13_CC5percent_wBG.csv
outputs/llh_sin2th12_sin2th13_CCLepton_wBG.csv
outputs/llh_sin2th12_sin2th13_CClepton.csv
outputs/llh_sin2th12_sin2th13_CCleptonE_wBG.csv
outputs/llh_sin2th12_sin2th13_CCleptonE_woBG.csv
outputs/llh_sin2th12_sin2th13_ES_10percent.csv
outputs/llh_sin2th12_sin2th13_ESleptonE.csv
outputs/llh_sin2th12_sin2th13.csv
outputs/llh_sin2th13_delt2m21_both_ES10percent_CCwBG.csv
outputs/llh_sin2th13_delt2m21_both_ES10percent_CCwoBG.csv
outputs/llh_sin2th13_delt2m21_both_leptonE_CCwBG.csv
outputs/llh_sin2th13_delt2m21_bothLeptonE_wCCBG.csv
outputs/llh_sin2th13_delt2m21_CC5percent_wBG.csv
outputs/llh_sin2th13_delt2m21_CCleptonE_wBG.csv
outputs/llh_sin2th13_delt2m21_CCleptonE_woBG.csv
outputs/llh_sin2th13_delt2m21_ES_10percent.csv
outputs/llh_sin2th13_delt2m21_ESleptonE.csv
outputs/llh_sin2th13_dm2_21_CC5percent_wBG.csv
outputs/oscillatedTestFlux.jld2
outputs/oscProbs.jld2
outputs/poissonLlh.jld2
outputs/testFit_0MeV_short.jld2
outputs/testFit_0MeV.jld2
outputs/testFit_1MeV_short.jld2
outputs/testFit.h5
outputs/testFit.jld2
oldScripts/reweighting.jl
oldScripts/unfolding.jl
testScripts/plot.py
testScripts/plotPosteriorPredictive.py
testScripts/plotSampleInput.py
testScripts/temp.jl
testScripts/test_oscprobs.jl
testScripts/test_reweighting.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
testScripts/test_oscprobs.jl
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_mcmc.jld2
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_RC_mcmc.jld2
outputs/both_leptonReco_3MeV_woBG_PDGlike_fast_smallTheta13_mcmc.jld2
outputs/both_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_delt2m21.csv
outputs/both_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_sin2th13.csv
outputs/both_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th13_delt2m21.csv
outputs/both_testReco_3MeV_woBG_PDGlike_fast_mcmc.jld2
outputs/CC_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_delt2m21.csv
outputs/CC_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_sin2th13.csv
outputs/CC_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th13_delt2m21.csv
outputs/ES_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_delt2m21.csv
outputs/ES_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_sin2th13.csv
outputs/ES_leptonReco_3MeV_woBG_PDGlike_fast_llh_sin2th13_delt2m21.csv
outputs/ES_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_delt2m21.csv
outputs/ES_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th12_sin2th13.csv
outputs/ES_testReco_3MeV_woBG_PDGlike_fast_llh_sin2th13_delt2m21.csv
outputs/unoscillatedSamples.jld2
images/both_leptonReco_3MeV_woBG_PDGlike_fast_withRC.png
images/both_leptonReco_3MeV_woBG_PDGlike_fast.png
images/both_testReco_3MeV_woBG_PDGlike_fast_llh.png
images/both_testReco_3MeV_woBG_PDGlike_fast_withRC.png
images/CC_3MeV_woBG_PDGlike_fast_llh.png
images/CC_reco.png
images/corner_both_leptonReco_3MeV_woBG_PDGlike_fast_RC.png
images/corner_both_leptonReco_3MeV_woBG_PDGlike_fast_smallTheta13.png
images/corner_both_leptonReco_3MeV_woBG_PDGlike_fast.png
images/dm21_sin2th13_degeneracy.png
images/ES_enu_reco_nuother.png
images/ES_enu_reco.png
images/ES_leptonReco_3MeV_woBG_PDGlike_fast_llh.png
images/ES_testReco_3MeV_woBG_PDGlike_fast_llh.png
images/ES_testReco.png
.qodo
